<!DOCTYPE html>
<html lang="en-US" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:th="http://www.thymeleaf.org " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listar workshops</title>
</head>
<body>
<div>
    <h1>Lista de tareas</h1>
    <button><a th:href="@{/Workshop}">Agregar nuevos talleres</a></button>
    <ul>
        <div th:each="entry : ${workshop.tareas}">
            <li>
                <div>
                    <span th:text="${entry.nombre}">Nombre</span> <br>
                    <span th:text="${entry.descripcion}">Autor</span><br>
                    <span th:text="${entry.textoLeido}">Objetivo</span><br>
                    <span th:text="${entry.duracion}">Categoria</span>
                                </div>

                <button><a th:href="@{/tareasWorkshop/{id}(id=${entry.id})}">Agregar actividades</a></button>


            </li>
        </div>
    </ul>
</div>
</body>
</html>